{% set service = aek.get_service("MULE_CONNECT") %}
{{ service.set_parameter("callType", "NOTIFICATIONS") }}
{{ service.set_parameter("callTarget","staff")}}
{{ aek.respond(service.response.json ~ "") }}
